<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <title>Moonsea's Data</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<header>
    <h1><%= title %></h1>
</header>

<nav>
    <span><a title="主页" href="/">home</a></span>
    <span><form action="/search" method="GET"><input type="text" name="keyword" placeholder="SEARCH" class="search" /></form></span>
</nav>

<article>
    <% if (success) { %>
        <div><%= success %></div>
    <% } %>
    <% if(error) { %>
        <div><%= error %></div>
    <% } %>
